

:root {
    --Xam: rgb(33,33,33);
    --green: #37FF8B;
}

body {
    align-items: center;
    color: var(--green);
    background-color: rgb(41, 39, 39);
}

.headline{
    width: 100%;
    margin-bottom: 100px;
    border-radius: 8px;
    box-shadow: 0 0 8px;
}

.headline .tittle{
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style-type: none;
}
.headline .tittle a{
    text-decoration: none;  
    color: var(--green);
}

.logo{
    margin-right: 40px;
    color: var(--green);
    font-size: 50px;
    margin-left: 20px;
}

.marketplace{
    font-size: 30px;
}

/*-------------------------------------------------------*/

.connect {
    margin-right: 20px;
}

.tittle .button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
.tittle .button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.tittle .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.tittle  .button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

/*--------------------------------------------------------- */

.products{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.product-item{
    width: 350px;
    height: 490px;
    background-color: aliceblue;
    border-radius: 3px 3px;
    box-shadow: 0 0 8px;
    margin: 10px;
    margin-top: 75px;
    text-align: center;
}

.product-item:hover{
    box-shadow: 0 0 20px;
}
.product-top{
    width:350px ;
    height: 410px;
    position: relative;
}
.product-thumb img{
    width: 100%;
}
.product-item:hover .buy-now{
    display: block;
    position: absolute;
    bottom: 0px;
    left:0;
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 50px;
    background-color: rgba(95, 234, 97, 0.6);
    margin-bottom: 22px;
    transition: 0.25s ease-in-out;
    opacity: 0.8;
    
}

a.buy-now{
    display: none;
}
.product-item a{
    text-decoration: none;
}


.footer {
    margin-top: 100px;
    text-align: center;
    background-color: var(--Xam);
    color: var(--green);
    font-size: 20px;
}   